# Python
*.pyc
__pycache__/
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Type checking / linting / testing caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Django
db.sqlite3

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
